@import 'abstracts/variables';

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;

    .form {
        width: 25vw;
        display: flex;
        flex-direction: column;

        .form-label {
            font-weight: bold;
        }

        .form-input {
            margin: 1rem 0;
            border: none;
            background-color: $background_primary;
            border-bottom: 1px solid $secondary_color;
            outline: none;

            &:focus {
                border-bottom: 1px solid $primary_color;
            }
        }

        .form-submit-btn {
            background-color: $primary_color;
            border: 1px solid $primary_color;
            border-radius: .25rem;
            height: 2rem;

            &:hover {
                    cursor: pointer;
                }
            
            &:active {
                transform: scale(0.98);
                box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            }
        }
    }
}