@import 'abstracts/variables';

.round-button {
    background-color: $primary_color;
    color: $secondary_color;
    border-radius: 50%;
    border: none;
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    
    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
}

